@import url(https://fonts.google.com/specimen/Poppins);
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
     height: 100vh;
     background: color #f6f3f3; 
     font-family:'Poppins' sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;

} 
header{
    width: 95%;
    height: 108%;
    border: 0.25px solid #eeeeef;
    display: flex;
}
header .menu_side, .song_side{
position: relative;
width: 15%;
height: 100%;
border: 1px solid #edeff3;
background-color: #2e5ed6;
box-shadow: 5px 0px 2px #f6f3f3;
color:#f6f3f3 ;


 
}
header .song_side{
    width: 75%;
    background: #f6f3f3;
} 
header .menu_side h1{
    font-size: 30px;
    margin: 15px 0px 20px;
    font-weight: 500;
    padding-left: 0px;
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}
header .menu_side .Songbox h4{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 24px; /*espace binathom*/
    cursor: pointer;
    font-style: italic;
    padding-left: 30px;
    margin-left:20px;
    color: #f5f4f1;
    transition: .3s linear ;
    display:flex ;
    align-items:center ;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}
header .menu_side .Songbox h6{
    font-size: 11px;
    font-weight: 800;
    padding-bottom: 10px; /*espace binathom*/
    font-style: normal;
    padding-left: 0px;
    margin-left: 30px;
    color: #c0c3c8;
}
header .menu_side .Songbox h4:hover{
    color: #ada3a0;
}
header .menu_side .Songbox h4 span{
    position: relative;
    margin-right:1px ;
}
header .song_side {
    z-index: 9;
}
header .song_side nav{
    width: 22%;
    height: 10%;
    margin: auto 0;
    border: 1px solid #909095;
    display: flex;
    align-items:center ;
    justify-content:space-between;

}
header .song_side nav ul{
    display: flex;
}
header .song_side nav ul li{
   position: relative;
   list-style-type: none;
   font-size: 13px;
   color: #151617;
   margin-right: 25px;
   cursor: pointer;
   transition: .3s linear;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}